# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/key.properties
android/bundle
android/app/src/main/res/raw/
android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
*.keystore
*.jks

# iOS
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/ServiceDefinitions.json
DerivedData/
*.moved-aside
*.xcuserstate
*.xcworkspace
!ios/Runner.xcworkspace

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated/

# IDEs
.idea/
*.iml
*.iws
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
lib/core/config/api_keys_local.dart

# Logs
*.log
